/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "leaflet/dist/leaflet";
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@import "pages";
@import "inquiries";


// ---------- CSS Reset ---------- //
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// ---------- CSS Reset ---------- //



html {
  font-family: "Special Elite", cursive;
  font-size: 16px;
}
body {
  font-size: 62.5%; // 1em = 10px
}

.outerWrapper {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: url("studio_home.jpg") bottom center no-repeat;
  background-size: cover;
  // text-align: center;
  .bgOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-color: rgba(102, 0, 204, .5);
  }
  .home-header {
    // border: 1px solid red;
    li {
      margin: 30px 30px;
    }
    a {
      font-size: 2em;
      color: white;
      text-decoration: none;
    }
  }
}

.innerWrapper {
  width: 100%;
  margin: 0 !important;
  .logo-main {
    // border: 1px solid yellow;
    // height: 100%;
    width: 33%;
    margin: 0 auto;
    // text-align: center;
    // width: 44%;
    // left: 25%;
    // right: 25%;
    // bottom: 15%;
    // margin: 0 auto;
    // position: absolute;

    a {
      font-size: 7em;
      color: white;
      text-decoration: none;
    }
    img {
      position: absolute;
      width: 33%;
      max-width: 400px;
      min-width: 200px;
      top: 50%;
    }
  }
}


footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background: black;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    display: inline;
  }
  .links {
    margin: 0 auto;
  }
}

#marker-title {
  font-weight: bold;
  color: red;
}