/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require featherlight
 *= require_self
 */

// ---------- * CSS Reset * ---------- //
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// ---------- * Imports * ---------- //

// rails
@import "pages";
@import "inquiries";
@import "videos";
@import "tracks";

// bower imports
@import "leaflet/dist/leaflet";
// @import "fotorama/fotorama"; // ------ missing assets, needs fixing
@import url("http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css");  //---- works fine
// @import url("https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.5/featherlight.gallery.min.css");

// Fonts
// @import url("https://fonts.googleapis.com/css?family=Special+Elite");
// @import url("https://fonts.googleapis.com/css?family=Lato");
// @font-face {
//   font-family: 'Hallo Sans';
//   src:font-url('hallo-sans.otf') format('opentype');
// }
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=PT+Serif");

// ----------- * Site CSS * ----------- //

html {
  font-family: 'Open Sans Condensed', sans-serif;
  // font-family: "Hallo Sans", sans-serif;
  font-size: 16px;
  // position: relative;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%; // 1em = 10px
  margin: 0 auto;
  // background: url("header_wood.jpg") top center repeat;
  // background: url("board.jpg") top center no-repeat;
  // background: url("home_bgr.jpg") top center no-repeat;
  background: url("main_bgr_c.jpg") top center no-repeat;
  // background: url("main_bgr_b.jpg") top center no-repeat;
  // background: white;
  background-attachment: fixed;
  background-size: cover;
  // min-height: 2000px;
}


// ----------- sticky footer bottom of page ----------- // 
// html, body {
//   height: 100%;
//   box-sizing: border-box;
// }
// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

// body {
//   min-height: 100%;
//   position: relative;
// }

// .wrapper {
//   // min-height: 100%;
// //   height: auto !important;
// //   // // height: 100%;
// //   margin: 0 auto -210px;
// }

// // footer {
// //   height: 210px;
// //   clear: both;

// // }

// footer {
//   position: relative;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   height: 200px;
//   //   // // position: absolute;
// //   // // bottom: -120px;
// }
// .push {
//   // // position: fixed;
//   // // bottom: 0;
//   clear: both;
  
//   height: 1px;
// }
.clear-fix {
  clear: both;
}


* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -280px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 200px; /* .push must be the same height as .footer */
}



// ----------- end footer styles ----------- //


section {
  // margin-top: 84px;
}


header {
  height: 76px;
  background: rgba(#000, .7);
  z-index: 1001;

  width: 100%;
  // position: fixed;

  text-align: center;
  padding: 8px 0 0;

  top: 0px;
  // background: radial-gradient(ellipse at 50% 40%, rgba(#000, 1), rgba(#000, 0) 75%);
  // background: radial-gradient(ellipse, rgba(#000, 1), rgba(#000, 0), .75);
  .logo {
    img {
      width: 130px;
      // margin: 30px 0 30px;
    }
  }
  ul {
    // border-top: 1px solid #010101;
    // border-bottom: 1px solid #010101;2
    // border-top: 1px solid #b0b0b0;
    // border-bottom: 1px solid #b0b0b0;
    list-style-type: none;
    padding: 0 0;

    li {
      width: 168px;

      display: inline-block;
      // padding: 0 50px;
      font-size: 2.2em;
      // vertical-align: middle;
      // border-bottom: 1px solid green;
      border-right: 1px solid #b0b0b0;
      &:nth-child(3) {
        border: none;
        margin-right: -12px;
      }
      &:last-child {
        border: none;
      }
      a {

        // color: #010101;
        color: #FF5656;
        text-decoration: none;
        -webkit-transition: color 1s ease;
        -moz-transition: color 1s ease;
        -o-transition: color 1s ease;
        transition: color 1s ease;
        &:hover {
          color: #f0f0f0;
        }

      }
      
    }
  }
}

.overlayContainer {
//   // background: url("main_bgr_d.jpg") top center no-repeat;
//   // background-attachment: fixed; //----- hurts performance - why??
//   // background-size: cover;
  width: 100%;
  position: absolute;
  z-index: 1;
  // text-align: center;
  .mainBgOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    // background: linear-gradient(to bottom, rgba(#D1E0E0, .85), rgba(#99CCFF, .15) 90%);
    background: rgba(#000, .2);
    background-attachment: fixed;
  }
}

footer {
  width: 100%;
  // background: linear-gradient(to top, rgba(#4E4E4E, .5), rgba(#000, .8) 40%);
  background: rgba(#000, .8);
  margin-top: 50px;
  padding-top: 30px;
  text-align: center;
  box-shadow: 0px -11px 100px rgba(152, 127, 72, 0.5);
  p {
    text-align: center;
    margin: 0 auto;
    // padding: 10px 0 0 40px;
    color: #ccc;
    font-size: 16px;
    #nc-contact {
      color: #ff5656;
    }
    
    
    a {
      color: #ccc;
      text-decoration: none;
    } 
  }
  .footer-img-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    ul {
      margin-left: 0;
      list-style-type: none;
      li {
        color: #ccc;
        font-size: 20px;
        border-left: 1px solid #ccc;
        display: inline-block;
        height: 50px;
        // padding: 10px 50px 0;
        // box-sizing: border-box;
        &:first-child {
          padding-top: 0px;
          border: none;
        }
        &:last-child {
          // border: none;
        }
      }
      img {
        width: 250px;
      }

      &:last-child {
        border: none;
      }
    }
  }
}

.current {
  color: #ccc;
}

// ------------- Media Queries ------------- //

@media only screen and (min-width: 1340px) {

}

@media only screen and (min-width: 1027px) and (max-width: 1339px) {
  header {
    ul {
      li {
        width: 140px;
      }
    }
  }

  .push {
    height: 180px;
  }

  .wrapper {
	  margin: 0 auto -260px; /* the bottom margin is the negative value of the footer's height */
  }
  
  footer {
    height: 180px;
    p {
      margin-top: 36px;
    }
    .footer-img-container {
      width: 90%;
      ul {
        margin-top: 40px;
        li {
          width: 280px;
          height: 30px;
          padding-top: 10px;
          &:nth-child(2) {
            padding: 10px 24px 0;
            // padding: 0 0;
            // margin-right: 30px;

          }
        }
        img {
          margin-top: -38px;
          width: 200px;
        }
      }
    }
  }
}

@media only screen and (min-width: 798px) and (max-width: 1026px) {
}

@media only screen and (max-width: 797px) {
}