/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// ---------- * CSS Reset * ---------- //
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// ---------- * Imports * ---------- //

// rails
@import "pages";
@import "inquiries";
@import "videos";
@import "tracks";

// bower imports
@import "leaflet/dist/leaflet";
// @import "fotorama/fotorama"; // ------ missing assets, needs fixing
@import url("http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css");  //---- works fine

// Fonts
// @import url("https://fonts.googleapis.com/css?family=Special+Elite");
// @import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: 'Hallo Sans';
  src:font-url('hallo-sans.otf') format('opentype');
}

// ----------- * Site CSS * ----------- //

html {
  font-family: "Hallo Sans", sans-serif;
  font-size: 16px;
  // position: relative;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%; // 1em = 10px
  margin: 0 auto;
  background: url("header_wood.jpg") top center repeat;
  // background: url("board.jpg") top center no-repeat;
  // background: white;
  background-attachment: fixed;
  background-size: cover;
  // min-height: 2000px;
}


// ----------- sticky footer bottom of page ----------- // 
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -460px;
}

footer, .push {
  height: 460px;
}

.push {
  clear: both;
}
// ----------- end footer styles ----------- //


section {
  margin-top: 100px;
}


header {
  height: 90px;
  background: rgba(#000, .7);
  z-index: 1;

  width: 100%;
  position: fixed;

  text-align: center;
  padding: 10px 0 0;

  background-size: fill;
  top: 0px;
  // background: radial-gradient(ellipse at 50% 40%, rgba(#000, 1), rgba(#000, 0) 75%);
  // background: radial-gradient(ellipse, rgba(#000, 1), rgba(#000, 0), .75);
  .logo {
    img {
      width: 150px;
      // margin: 30px 0 30px;
    }
  }
  ul {
    // border-top: 1px solid #010101;
    // border-bottom: 1px solid #010101;2
    // border-top: 1px solid #b0b0b0;
    // border-bottom: 1px solid #b0b0b0;
    list-style-type: none;
    padding: 0 0;

    li {
      display: inline;
      padding: 0 50px;
      font-size: 2em;
      // vertical-align: middle;
      // border-bottom: 1px solid green;
      &:nth-child(1) {
        border-right: 1px solid #b0b0b0;
      }
      &:nth-child(4) {
        border-right: 1px solid #b0b0b0;
      }
      &:last-child {
        border: none;
      }
      a {
        // color: #010101;
        color: #FF5656;
        text-decoration: none;
        -webkit-transition: color 1s ease;
        -moz-transition: color 1s ease;
        -o-transition: color 1s ease;
        transition: color 1s ease;
        &:hover {
          color: #f0f0f0;
        }

      }
      
    }
  }
}

.overlayContainer {
//   // background: url("main_bgr_d.jpg") top center no-repeat;
//   // background-attachment: fixed; //----- hurts performance - why??
//   // background-size: cover;
  width: 100%;
  position: absolute;
  z-index: 1;
  // text-align: center;
  .mainBgOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    // background: linear-gradient(to bottom, rgba(#D1E0E0, .85), rgba(#99CCFF, .15) 90%);
    background: rgba(#000, .2);
    background-attachment: fixed;
  }
}

footer {
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
  background: rgba(#000, .7);
  margin-top: 100px;
  img {
    margin: 90px 0 0 90px;
    width: 400px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  li {
    display: inline;
  }
  .links {
    margin: 0 auto;
  }
}

#marker-title {
  font-weight: bold;
  color: red;
}

.picture-well {
  // margin: 30px 0;
  .fotorama {
    margin: 0 auto;
    // width: 100%;
  }
}

.active-page {
  color: #f0f0f0;
}

// // ------------- Media Queries ------------- //

// @media only screen and (min-width: 1340px) {
//   .siteContent {
//     width: 1278px;
//   }

// }

// @media only screen and (min-width: 1027px) and (max-width: 1339px) {
//   .siteContent {
//     width: 966px;
//   }
// }

// @media only screen and (min-width: 798px) and (max-width: 1026px) {
//   .siteContent {
//     width: 738px;
//   }
//   header {
//     ul {
//       li {
//         padding: 0 30px;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 797px) {
//   .siteContent {
//     width: 600px;
//   }
// }