// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.buffer {
  height: 500px;
}

.gear {
  min-height: 200px;
  background: yellow;
}

.category {
  font-weight: bold;
  font-size: 3em;
}
.equip {
  font-size: 2em;
}